body, html {
    background: snow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;

}

#input{
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: large;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
    background-color: snow;
}

.inputBar {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    margin-right: 10px;
}

#buttonList {
    display: flex;
    width: 320px;
    justify-content: stretch;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 35px;
    margin-top: 40px;
    gap: 10px;
}

#container {
    border: solid dimgray 2.5px;
    border-radius: 30px;
    width: 360px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    background-color: rgb(41, 41, 41);
}

.buttons {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 217, 217);
    color: black;
    font-weight: bold;
}

#buttonEquals {
    background-color: lightgreen;
}


h1 {
    color: lightgreen;
    background-color: rgb(41, 41, 41);
    width: 170px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
}