body {
    background: snow;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    margin-top: 0;
    height: 100vh;
}

#input {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: large;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
    background-color: rgb(247, 242, 216);
}

.inputBar {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    margin-right: 10px;
}

#buttonList {
    display: flex;
    width: 320px;
    justify-content: stretch;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 35px;
    margin-top: 40px;
    gap: 10px;
}

#container {
    width: 360px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    background-color: rgb(155, 153, 153);
    box-shadow: 10px 5px 5px rgb(52, 51, 51);
    padding-top: 2.5px;
    border-radius: 0px;
}

.buttons {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 217, 217);
    color: black;
    font-weight: bold;
    font-size: larger;
    border: none;
}

.buttons:hover {
    background-color: white;
    font-size: x-large;
}

#buttonEquals {
    background-color: rgb(188, 252, 188);
}

#buttonDel {
    color: green;
}

#buttonDot,
#buttonAdd,
#buttonSubtract,
#buttonMultiply,
#buttonDivide {
    background-color: rgb(77, 77, 77);
    color: snow;
}

#darkContainer {
    display: flex;
    justify-content: center;
}

#darkMode {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: snow;
    background-color: rgb(88, 88, 88);
    width: 160px;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    border-radius: 25px;
}

h1 {
    color: snow;
    background-color: rgb(163, 162, 162);
    box-shadow: 10px 5px 5px rgb(88, 88, 88);
    width: 200px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

